<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Microfrontend</title>
    
    <meta name="importmap-type" content="systemjs-importmap">
    
    <script type="systemjs-importmap" src="/importmap.json"></script>

    <% if (process.env.NODE_ENV === 'development') { %>
    <script type="systemjs-importmap" src="/local-importmap.json"></script>
    <% } %>

    <script src="https://unpkg.com/import-map-overrides@1.7.2/dist/import-map-overrides.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-register.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/use-default.min.js"></script>
    <script src="./shell.js"></script>
  </head>

  <body>
    <div class="mf-container">
      <div class="mf-head"><div id="mf-header"></div></div>
      <div class="mf-body">
        <div id="mf-menu" class="mf-menu"></div>
        <div class="mf-apps">
          <div id="mf-phones"></div>
          <div id="mf-cars"></div>
        </div>
      </div>
    </div>
    <script>
      System.import('orchestrator');
    </script>
    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  </body>

  <style type="text/css">
    /*.mf-Containers {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .mf-Container {
      width: 100%;
    }*/
    .mf-container {
      margin-top: 10px;
      height: calc(100vh - 10px);
    }

    .mf-container .mf-head {
      background-color: #00489a;
      height: 80px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .mf-container .mf-body {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
      height: calc(100vh - 130px);
    }

    .mf-container .mf-body .mf-menu {  
      height: calc(100vh - 130px);
      background-color: #c4e3ec;
    }

    .mf-container .mf-body .mf-apps {
      border: 1px solid gray;
      width: 100%;
      margin-left: 10px;
      height: calc(100vh - 130px);
    }
  </style>
</html>

